body {
  text-align: center;
  text-emphasis-color: black;
  padding-right :5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  page-break-inside: auto;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: semi-expanded;
  font-style: normal;
  text-overflow: clip;
}
